/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: url("../images/bgtile.png") repeat-x;
  width: 100%;
}

.bigphone {
  padding: 50px 40px 10px 80px;
  float: left;
}

main {
  position: relative;
  padding-top: 40px;
  overflow: auto;
}

.title {
  top: 100px;
  float: left;
}

.login {
  float: left;
}

.container {
float: left;
}
